/* ---------------------------
    Font Import CDN Start
---------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/* ---------------------------
    Font Import CDN End
---------------------------- */


/* ---------------------------
    Universal Style Start
---------------------------- */

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* ---------------------------
    Universal Style End
---------------------------- */


/* ---------------------------
    Default Style Code Start
---------------------------- */

html,
body {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    color: #707070;
}

h1 {
    color: #121212;
}

a,
button {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* ---------------------------
    Default Style Code End
---------------------------- */


/* ---------------------------
    Color Class  Start
---------------------------- */

.common_color {
    color: #ffffff;
    background: #0BDC8D;
}

.food {
    background: #c8d6e540;
}

.shelter {
    background: #ff767540;
}

.medicine {
    background: #f5cd7940;
}

/* ---------------------------
    Color Class  End
---------------------------- */


/* ---------------------------
     Hover Effect Start
---------------------------- */

a:hover.common_color {
    transition: 0.3s ease-in-out;
    background: #00C89A;
}

button:hover.common_color {
    transition: 0.3s ease-in-out;
    background: #00C89A;
}

.donate_amount_list li:hover {
    color: #ff5959;
    border: 2px solid #ff5959;
    background: #ff595925;
}

/* ---------------------------
     Hover Effect End
---------------------------- */


/* --------------------------------
    Multiple Class Select Start
----------------------------------*/

.child_donate_area,
.plan_area,
.subscription_header {
    padding: 0% 20%;
    text-align: center;
}

.child_donate_area h1,
.plan_area h1,
.subscription_header h1 {
    font-size: 48px;
}

.child_donate_area>p,
.plan_area>p,
.subscription_header>p {
    margin: 20px auto;
    padding: 0 5%;
}

/* --------------------------------
    Multiple Class Select End
----------------------------------*/


/* ---------------------------
        Top Header Start
---------------------------- */

.top_header {
    width: 100%;
    min-height: 570px;
    background: linear-gradient(to top, #000000, #00000020), url(../images/donation3.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20%;
    text-align: center;
}

.top_header h1 {
    color: #ffffff;
    font-size: 62px;
}

.top_header p {
    margin: 30px auto;
}

.top_header a {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

/* ---------------------------
        Top Banner End
---------------------------- */


/* ---------------------------
    Donate Payment Start
---------------------------- */

.donate_area {
    margin: 100px auto;
}

.donate_amount_list {
    list-style: none;
}

.donate_amount_list li {
    width: 135px;
    height: 123px;
    background: #fafafa;
    display: inline-block;
    margin: 50px 0;
    margin-right: 15px;
    position: relative;
    border-radius: 5px;
    list-style: none;
    cursor: pointer;
}

.active_color {
    color: #ff5959;
    border: 2px solid #ff5959;
    background: #ff595925 !important;
}

.donate_amount_list p {
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

/* ---------------------------
    Donate Payment End
---------------------------- */


/* ---------------------------
    Input Payment Start
---------------------------- */

.other_amount input {
    border: none;
    border-bottom: 2px solid #dadada;
    outline: none;
    width: 90%;
    padding: 0px 0px 15px;
    font-size: 18px;
    text-align: center;
    color: #121212;
}

.other_amount button {
    font-size: 20px;
    border: none;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* ---------------------------
    Input Payment End
---------------------------- */

/* ---------------------------
    Our Donate Plan Start
---------------------------- */

.plan_box {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.plan_content {
    margin: 5% 0;
    margin-right: 30px;
    padding: 40px 20px 20px 20px;
    border-radius: 5px;
    color: #141414;
}

.plan_content h1 {
    font-size: 24px;
    margin: 25px auto;
}

/* ---------------------------
    Our Donate Plan End
---------------------------- */


/* ---------------------------
        Blog Post Start
---------------------------- */

.blog-content {
    display: flex;
    height: 100%;
    align-items: center;
    margin-bottom: 100px;
}

.blog_text {
    flex-basis: 50%;
}

.blog_text h1 {
    font-size: 45px;
}

.blog_text p {
    margin: 20px auto;
    font-size: 18px;
}

.blog_text a {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.blog_image {
    display: block;
    margin: 0px 10%;
}

.blog_image:nth-child(1) {
    display: block;
    margin: 0;
    margin-right: 10%;
}

.blog_image img {
    max-width: 350px;
}

/* ---------------------------
        Blog Post End
---------------------------- */


/* ---------------------------
    Subscription Box Start
---------------------------- */

.search_box {
    background: #FFF4D6;
    margin: 50px 20% 100px;
    padding: 4% 10%;
    text-align: center;
}

.search_box input {
    width: 300px;
    padding: 12px;
}

.search_box button {
    padding: 10px 20px;
    margin-left: -5px;
    cursor: pointer;
}

.search_box input,
button {
    border: none;
    outline: none;
}

/* ---------------------------
    Subscription Box End
---------------------------- */


/* ---------------------------
        Footer Area Start
---------------------------- */

.footer_area {
    background: #0B0D17;
    padding: 4%;
    text-align: center;
}

.footer_area h1 {
    font-family: 'Lobster', cursive;
    color: #0BDC8D;
    font-size: 36px;
}

.footer_area p {
    font-size: 14px;
    color: #D9DBE1;
    font-family: 'Manrope', sans-serif;
    margin: 10px auto;
}

/* ---------------------------
        Footer Area End
---------------------------- */