@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

/* ---------------------------
    Default Style Code Start
---------------------------- */
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    color: #707070;
}

h1{
    color: #121212;
}

.common_color {
    color: #ffffff;
    background: #0BDC8D;
}

/* ---------------------------
    Default Style Code End
---------------------------- */


/* ---------------------------
        Top Banner Start
---------------------------- */

.top_banner {
    width: 100%;
    min-height: 570px;
    background: linear-gradient(to top, #00000090, #00000040), url(../images/donation3.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20%;
    text-align: center;
}

.top_banner h1 {
    font-size: 62px;
}

.top_banner p {
    margin: 30px auto;
}

.top_banner a {
    padding: 10px 10px;
    border-radius: 5px;
}

/* ---------------------------
        Top Banner End
---------------------------- */

/* ---------------------------
    Donate Payment Start
---------------------------- */

.donate_area{
    margin: 100px auto;
}

.child_donate_area{
    padding: 0% 20%;
    text-align: center;
}

.child_donate_area h1{
    font-size: 48px;
}
.child_donate_area > p{
    margin: 20px auto;
    padding: 0 5%;
}

.donate_amount_list{
    width: 135px;
    height: 123px;
    background: #fafafa;
    display: inline-block;
    margin: 50px 0;
    margin-right: 15px;
    position: relative;
    border-radius: 5px;
}
.active_color{
    color: #ff5959;
    border: 2px solid #ff5959;
    background: #ff595925;
}
.donate_amount_list p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}